WPF_Client/Connected Services/WCF_Service/WCF_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCF_Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IWCF_Service_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:25231/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:25231/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:25231/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCF_Service_RemoveUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUser" />
  </wsdl:message>
  <wsdl:message name="IWCF_Service_RemoveUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserResponse" />
  </wsdl:message>
  <wsdl:message name="IWCF_Service_RemoveMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveMessage" />
  </wsdl:message>
  <wsdl:message name="IWCF_Service_RemoveMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IWCF_Service_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IWCF_Service_Authorisation_InputMessage">
    <wsdl:part name="parameters" element="tns:Authorisation" />
  </wsdl:message>
  <wsdl:message name="IWCF_Service_Authorisation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthorisationResponse" />
  </wsdl:message>
  <wsdl:message name="IWCF_Service_Registration_InputMessage">
    <wsdl:part name="parameters" element="tns:Registration" />
  </wsdl:message>
  <wsdl:message name="IWCF_Service_Registration_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IWCF_Service_MessageCallBack_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MessageCallBack" />
  </wsdl:message>
  <wsdl:portType name="IWCF_Service">
    <wsdl:operation name="RemoveUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCF_Service/RemoveUser" message="tns:IWCF_Service_RemoveUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCF_Service/RemoveUserResponse" message="tns:IWCF_Service_RemoveUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCF_Service/RemoveMessage" message="tns:IWCF_Service_RemoveMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCF_Service/RemoveMessageResponse" message="tns:IWCF_Service_RemoveMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCF_Service/SendMessage" message="tns:IWCF_Service_SendMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authorisation">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCF_Service/Authorisation" message="tns:IWCF_Service_Authorisation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCF_Service/AuthorisationResponse" message="tns:IWCF_Service_Authorisation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Registration">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCF_Service/Registration" message="tns:IWCF_Service_Registration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCF_Service/RegistrationResponse" message="tns:IWCF_Service_Registration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MessageCallBack">
      <wsdl:output wsaw:Action="http://tempuri.org/IWCF_Service/MessageCallBack" message="tns:IWCF_Service_MessageCallBack_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IWCF_Service" type="tns:IWCF_Service">
    <wsp:PolicyReference URI="#NetTcpBinding_IWCF_Service_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RemoveUser">
      <soap12:operation soapAction="http://tempuri.org/IWCF_Service/RemoveUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveMessage">
      <soap12:operation soapAction="http://tempuri.org/IWCF_Service/RemoveMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/IWCF_Service/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Authorisation">
      <soap12:operation soapAction="http://tempuri.org/IWCF_Service/Authorisation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registration">
      <soap12:operation soapAction="http://tempuri.org/IWCF_Service/Registration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageCallBack">
      <soap12:operation soapAction="http://tempuri.org/IWCF_Service/MessageCallBack" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCF_Service">
    <wsdl:port name="NetTcpBinding_IWCF_Service" binding="tns:NetTcpBinding_IWCF_Service">
      <soap12:address location="net.tcp://localhost:25232/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:25232/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>IFAVORITEPC\FabioBannet</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>